:root{
    --main-color: #e20000;
    background: rgb(140,27,171);
background: linear-gradient(90deg, rgba(140,27,171,1) 20%, rgba(247,97,161,1) 85%);

  }
  @font-face {
    font-family: sahel;
    src: url('../font/Shabnam-Bold.woff2');
  }
  
  body {
    font-family: sahel;
    background-color: var(--background-color);
    direction: rtl;
    line-height: 1.8;
      //d
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .open,
  .modal-btn {
    border: none;
    
    padding: 10px 15px;
    
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    font-family:inherit;
    font-weight: 600;
  }
  
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.026);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
  }
  
  .modal {
    background-color: rgb(182, 178, 178);
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    padding: 30px 50px;
    width: 500px;
  }
  
  .modal h1,
  .modal p {
    margin-bottom: 17px;
  }
  .avatar{
    width: 150px;
    border-radius: 50% ;
    margin: 10px;
  }
  
  .show {
    opacity: 1;
    pointer-events: auto;
  }
